<h1 style="text-align: center;">Chat Application</h1><br>
<div class="container">
  <div class="row">
  <div class="col-lg-4">
    <label>Name </label>
    <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter Name" (keyup.enter)="join()">
  </div>
    <!-- <input type='text' placeholder="Enter Name" style="margin-left:3%;"> -->
  </div>
  <div class="col-lg-4">
    <label>Room</label>
    <div class="form-group">
    <select class="form-control" [(ngModel)]="room">
      <option value="Deluxe" selected> Deluxe</option>
      <option value="Normal">Normal</option>
      <option value="Low">Low</option>
    </select>
  </div>
  </div>
  <div class="col-lg-4" style="margin-top: 30px;">
    <button type="button" class="btn btn-success" (click)="join()">Join</button>
    <button type="button" class="btn btn-danger" style="margin-left:3%;" (click)="leave()">Leave</button>
  </div>
  </div>  
</div><br>

  <div class="container">
    <div id="dis">
      <div *ngFor="let item of messageArray" >
     <div class="chat"> <span><strong>{{item.name}} : </strong>{{item.message}}</span> </div>
  </div>
  </div>
  </div><br>

<div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="messageText" (keyup.enter)="sendMessage()">
        </div>
      </div><br><br>
        <div class="col-lg-2">
        <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
  